@import url('https://rsms.me/inter/inter.css');

  html {
    font-family: 'Inter', sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
  }

  body {
    background-color: #333;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }
  
  .text-rainbow-animation {
    background-image: 
      linear-gradient(to right, rgb(255, 0, 204),rgb(0, 123, 255),rgb(255, 0, 204),rgb(0, 123, 255),rgb(255, 0, 204),rgb(0, 123, 255),rgb(255, 0, 204), rgb(0, 123, 255)); 
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 500s linear infinite;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }

  .spotify-rainbow-animation {
    background-image: 
      background-image(url(""));  
    animation: rainbow-animation 500s linear infinite;
  }

  @keyframes spotify-animation {
    to {
        background-position: -4500vh;
    }
}

 /* Style the navbar */
 #navbar {
  overflow: hidden;
  background-color: rgb(251, 103, 214);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
} 